@use './colors.scss';
@use './mixins/grid.scss';


.movie-editor{
  @include grid.flex-col;
  .form-row{
    @include grid.flex-col;
    label{
      font-size: 1.3rem; 
    }
    input{
      height: 30px;
      border-radius: 13px; 
      font-size: 1.3rem; 
    }
  }

}