@use './colors.scss';
@use './mixins/grid.scss';


.movie-editor{
  margin: auto 0.5rem;
  @include grid.flex-col;
  .form-row{
    @include grid.flex-col;
    label{
      font-size: 1.3rem; 
    }
    input{
      height: 20px;
      border-radius: 10px;
      
    }
  }

}